<div class="discussion">
  <div class="discussion__content">
    <h6 class="discussion__header">What do the avatars in the topic list mean?</h6>
    <p class="discussion__timestamp">
      by <a class="discussion__author" href="#">John Smith</a> on 16th February 2020
    </p>
    <p class="discussion__preview">
      In the topic list, I see a list of anywhere from one to five avatar images next to each topic.
      Why are these 5 folks selected to appear here? Is it just the avatars of the last 5 people to post in the topic?
    </p>
  </div>
</div>
