<div class="discussion">

  <div class="discussion__avatar">
    <img class="discussion__avatar__image"
         alt="User avatar"
         src="https://images.pexels.com/photos/428328/pexels-photo-428328.jpeg?h=350&auto=compress&cs=tinysrgb" />

    <div class="discussion__avatar__status discussion__avatar__status--online"></div>
  </div>

  <div class="discussion__content">
    <h6 class="discussion__header">What do the avatars in the topic list mean?</h6>
    <p class="discussion__timestamp">
      by <a class="discussion__author" href="#">John Smith</a> on 16th February 2020
    </p>
    <p class="discussion__preview">
      In the topic list, I see a list of anywhere from one to five avatar images next to each topic.
      Why are these 5 folks selected to appear here? Is it just the avatars of the last 5 people to post in the topic?
    </p>

    <div class="discussion__information">

      <div class="discussion__statistic">
        <i-feather class="discussion__statistic__icon" name="message-circle"></i-feather>
        <span class="discussion__statistic__label">143</span>
      </div>

      <div class="discussion__statistic">
        <i-feather class="discussion__statistic__icon" name="bar-chart-2"></i-feather>
        <span class="discussion__statistic__label">1,420</span>
      </div>

      <div class="discussion__tag">
        <div class="discussion__tag__color"></div>
        General Discussion
      </div>

    </div>
  </div>
</div>
