/* You can add global styles to this file, and also import other style files */
@import url('https://rsms.me/inter/inter.css');
@import '~@angular/cdk/a11y-prebuilt.css';
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@angular/cdk/text-field-prebuilt.css';

@import 'scss/variables';
@import 'scss/theme';
@import 'scss/tables';
@import 'scss/navbar';
@import 'scss/tabs';

i-feather,
i-feather svg {
  width: 1em !important;
  height: 1em !important;
  vertical-align: top;
}

cdk-dialog-container {
  outline: none;
}

.modal-content {
  position: relative !important;
  border: none;
  overflow: hidden;
  box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.15);

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(120deg, $oc-red-5 0, $oc-orange-4 100%);
  }
}

