<div class="banner banner--{{ color }}">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="banner__content">
          <h1 class="banner__header">{{ header }}</h1>
          <h4 class="banner__subheader">{{ subheader }}</h4>
        </div>
      </div>

      <div class="col-4">
        <div class="banner__content">
          <button uni-button color="light" class="banner__action">Create Location</button>
        </div>
      </div>
    </div>
  </div>
</div>
