<div cdkTrapFocus>
  <div class="modal-header">
    <h5 class="modal-title">Log In</h5>
  </div>

  <div class="modal-body">

    <form>

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>

      <div class="form-group">
        <uni-checkbox>Remember Me</uni-checkbox>
      </div>

    </form>

  </div>

  <div class="modal-footer">
    <button uni-button color="light" type="button" data-dismiss="modal">Close</button>
    <button uni-button color="dark" type="button">Sign Up</button>
  </div>
</div>

